This code...

- 
- 
-

In [11]:
import pandas as pd
import numpy as np

import statsmodels.formula.api as smf

import warnings

warnings.filterwarnings("ignore")

In [12]:
data = pd.read_csv("../data/cps-earnings/clean/morg-2014-emp.csv",index_col = 0)

In [13]:
data.head()

,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,age,...,ownchild,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94
3,2600310997690,January,AL,3151.6801,1692.00,40,43,1,NaN,29,...,0,0,"Native, Born In US",63,Employment services (5613),630,"Private, For Profit",No,No,Employed-At Work
5,75680310997590,January,AL,3457.1138,450.00,40,41,2,NaN,27,...,2,6,"Native, Born In US",63,Outpatient care centers (6214),5400,"Private, For Profit",No,No,Employed-Absent
6,75680310997590,January,AL,3936.9110,1090.00,60,41,2,NaN,30,...,2,6,"Native, Born In US",63,Motor vehicles and motor vehicle equipment man...,8140,"Private, For Profit",No,No,Employed-At Work
10,179140131100930,January,AL,3288.3640,769.23,40,40,1,NaN,48,...,2,4,"Native, Born In US",63,"**Publishing, except newspapers and software (...",8255,"Private, For Profit",Yes,NaN,Employed-At Work
11,179140131100930,January,AL,3422.8500,826.92,40,43,1,NaN,46,...,2,4,"Native, Born In US",63,"Banking and related activities (521, 52211,52219)",5940,"Private, For Profit",No,No,Employed-At Work